# virtual environment
.venv/
venv/
ENV/

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# checkpoints
checkpoints/
runs/
outputs/
outputs_convrnn/

# system garbage
*.DS_Store
Thumbs.db

# temporary numpy or data
data_npy/
